<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<footer class="page-footer purple" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About author</h5>
                <p class="grey-text text-lighten-4">I am just a student making fun projects in free time</p>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Feedback</h5>
                <ul>
                    <li><a class="white-text" href="/bug_form">Mail me if you found a bug. Any feedback is welcome</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="purple-text text-lighten-3" href="https://github.com/SingularityA">Singularity</a>
        </div>
    </div>
</footer>
</body>
</html>